p{
   
    text-align: justify;
    font-size: 20px;
}

h1{
    color:rgb(4, 4, 189);
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

#texto1{
    color: rgb(19,19,154);
    background-color: #C683D7;
}v

#texto2{
    color: rgb(43, 234, 43);
}

.destaques{
    color: rgb(255,0,255);
    font-size: 35;
    font-style: italic;
}

#listas{

    background-color: rgb(163, 215, 131);
}

header{
    padding: 20px;
    background-color: cadetblue;
    border-bottom: black;
    color: whitesmoke;
    font-size: 32px;
}

#menu{
    font-size: 15px;
    color: red;
}
a:hover{
    color: aquamarine;
}

a:active{
    color: whitesmoke;
}