p{
    color:rgb(3, 118, 225);
    text-align: justify;
    font-size: 20px;
}

h1{
    color:rgb(4, 4, 189);
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

#texto1{
    color: rgb(19,19,154);
    background-color: #C683D7;
}v

#texto1{
    color: rgb(34, 139, 34);
}

.destaques{
    color: rgb(255,0,255);
    font-size: 35;
    font-style: italic;
}

#listas{

    background-color: rgb(163, 215, 131);
}